/* Root variables */
:root {
  --base-clr: #0a1930;
  --base2-clr: #6f86a8;
  --hover-clr: #121f33;
  --accent-clr: #00f7ff;
  --text-clr: white;
  --suptext-clr: #8892b0;
  --transition: normal 0.25s ease;
  --about-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3)
}

/* Base styles */

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

* {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-clr);
  font-family: "Inter", sans-serif;
  color: white;
}

body::before {
  transform: translate(var(--bg-x, 0), var(--bg-y, 0));
}

header {
  position: relative;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  background-color: transparent;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  left: 0;
  top: 10px;
  margin: 0 auto;
  text-decoration: none;
  transition: var(--transition);
  z-index: 1000;
}

.navbar.scrolled-down {
   top: 0;
  box-shadow: 0 0 6px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.navbar.scrolled-up {
  top: 0;
  box-shadow: 0 0 6px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.navbar a {
  width: 100px;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--hover-clr);
  scale: 1.1;
  }
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-clr);
}

/* Logo */
.navbar .logo {
  margin-left: 0;
  margin-right: auto;
  width: 100px;
  height: calc(100% + 30px);
  bottom: 0;
}

.logo img {
  width: auto;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Socials */
.sidebar {
  position: fixed;
  bottom: 0;
  left: 2.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80px;
  padding-top: 10px;
}

.line {
  width: 1px;
  height: 15vh;
  background-color: var(--suptext-clr);
  margin-top: 2vh;
}

.line-2 {
  width: 1px;
  height: 25vh;
  background-color: var(--suptext-clr);
  margin-top: calc(100% + 5vh);
}

.rotated-text {
  transform: rotate(90deg);
  background-color: transparent;
  text-decoration: none;
  color: var(--suptext-clr);
  transition: var(--transition);

  &:hover {
    transform: scale(1.05) rotate(90deg) translateX(-5px);
  color: var(--accent-clr);
  }
}

#sidebar-2 {
  left: auto;
  right: 2.6vw;
}

.img-link svg {
  width: 40px;
  margin-top: 10%;
  fill: var(--suptext-clr);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    transform: scale(1.1) translateY(-5px);
  fill: var(--accent-clr);
  }
}

#Resume {
  height: 42%;
  width: 3%;
  margin-right: 35px;
  margin-left: 35px;
  font-size: 20px;
  text-decoration: none;
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 35px;
  transition: var(--transition);

  &:hover {
    background-color: var(--accent-clr);
 color: var(--base-clr);
  }
}

/* Main content */
main {
  padding: 2rem;
}

.sect {
  height: 60vh;
  justify-content: center;
  padding-top: 25vh;
  padding-left: 15vw;
}

/* Hero section */

.hero-intro {
  color: var(--accent-clr);
  font-size: 20px;
  font-weight: 500;
}

.hero-name {
  font-size: 70px;
  font-weight: 700;
  color: var(--text-clr);
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-subtitle {
  font-size: 60px;
  font-weight: 700;
  color: var(--suptext-clr);
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.hero-description {
  margin-bottom: 6vh;
  font-size: 20px;
  max-width: 750px;
  color: var(--suptext-clr);
  line-height: 1.5;
}

.hero-description a {
  color: var(--accent-clr);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#CTA-Btn {
  font-size: 20px;
  font-weight: 150;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 40px;
  transition: var(--transition);

  &:hover {
    font-size: 22px;
 background-color: var(--accent-clr);
 color: var(--base-clr);
  }
}

/* About Me Section */

.about {
  display: flex;
  flex-direction: row;
  gap: 15%;
}

.about-left {
  display: flex;
  flex-direction: column;
  width: 60vh;
}

.about-intro {
  width: 60vh;
  margin-right: 15%;
}

.about-edu {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about-edu img {
  display: block;
  width: 70%;
  height: 80%;
  margin: 2% auto;
  cursor: pointer;
  object-fit: contain;
  transition: var(--transition);

  &:hover {
    transform: scale(1.1);
  }
}

.edu-item {
  position: relative;
  display: flex;
  justify-content: center;
}

.pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  border-radius: 20px;
  transition: var(--transition);
}

/* Tooltip */

.pfp-name {
  color: var(--text-clr);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  letter-spacing: 0.2rem;
}

.school-name {
  position: absolute;
  color: var(--text-clr);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  margin: 100% auto;
  transition: var(--transition);
}

.school-support {
  position: absolute;
  color: var(--suptext-clr);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  margin: calc(100% + 30px) auto;
  transition: var(--transition);
}

.school-class {
  position: absolute;
  color: var(--suptext-clr);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  margin: calc(100% + 60px) auto;
  transition: var(--transition);
}

/* Hover effects for tooltips */

.edu-item:hover .school-name {
  opacity: 1;
  visibility: visible;
}

.edu-item:hover .school-support {
  opacity: 1;
  visibility: visible;
}

.edu-item:hover .school-class {
  opacity: 1;
  visibility: visible;
}

.pfp img {
  width: 100%;
  height: 100%;
}

.pfp:hover img {
  transform: scale(0.9);
}

.pfp:hover .pfp-name {
  opacity: 1;
  visibility: visible;
}

#SDN {
  display: none;
}

#SMP {
  display: none;
}

#SMKN {
  display: none;
}

/* Content adjustment */

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }

  .sidebar-2 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}